:root{
    --main-width: 300px; 
}
#game-container{
    width: var(--main-width, 960px);
    height: var(--main-width, 960px);
}

.square{
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 50%;
    float: left;
    background: white;
    /* border: 2px solid black; */
    text-align: center;
}

.square:hover{
    background: red;
    border: 2px solid "red";
}

.sketch{
    background: red;
}

footer{
    text-align: center;
}